
.header-main {
	background: #002f5f;
}

.user-menu header {
	background: #002f5f;
}

#app-dialog .modalHeader {
	background-color: #002f5f;
}

.bar-side-menu {
	background-color: #002f5f;
}

.bar-content {
	background-color: #002f5f;
}

.button.button-positive {
	border-color: #002f5f;
	background-color: #002f5f;
	color: #fff;
} 

.item-divider {
	background-color: #fafafa;
}
