// Pre SCSS for the theme.

//$card-bg: #f5f5f5;

// Setting these variables increases the button padding
s$btn-padding-y: 0.5rem !default;
$btn-padding-x: 1.1rem !default;

$link-color: #005b7f;

$navbar-dark-color: rgba(#fff, 0.75);
